<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <title>Document</title>
</head>
<body>
    <div class="main-bg">
        <div class="main-bn">
            <div class="main-empty-bn">
                <div class="main-bn-left">
                    <p>Landing Page For Apps</p>
                    <p style="font-size: 12px;">어쩌구저쩌구 이쁜 글귀입니다.</p>
                    <button type="button"><label>Show More</label></button>
                </div>
                <div class="main-bn-right">
                    <img src="./app_image/iphone.png">
                </div>
            </div>
        </div>
        <div class="main-text">
            <p>어쩌구 저쩌구 다음 프로젝트!</p>
            <p>작은 글씨로 프로젝트 살짝 소개.</p>
            <button type="button"><label>Show Portfolio</label></button>
        </div>
        <div class="main-offer">
            <div style="margin-top: 50px;">
                <p style="padding-top: 20px;">services</p>
                <p>What We Offer</p>
            </div>
            <div style="display: flex; justify-content: center;">
                <div class="i-bg">
                    <i class="fas fa-mobile"></i>
                    <p>Responsive</p>
                </div>
                <div class="i-bg">
                    <i class="fas fa-flask"></i>
                    <p>Experiments</p>
                </div>
                <div class="i-bg">
                    <i class="fas fa-bolt"></i>
                    <p>Quickness</p>
                </div>
                <div class="i-bg">
                    <i class="fas fa-globe-asia"></i>
                    <p>Global Shipping</p>
                </div>
            </div>
        </div>
        <div class="main-text">
            <p>Portfolio</p>
            <p>What we can Do</p>
        </div>
        <div class="main-img">
            <div>
                <img src="./app_image/portfolio-1.jpg">
                <img src="./app_image/portfolio-2.jpg">
            </div>
            <div>
                <img src="./app_image/portfolio-3.jpg">
                <img src="./app_image/portfolio-4.jpg">
            </div>
        </div>
    </div>
</body>
</html>