<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../css/main.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul class="navbar">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">Python</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="blog-info">
            <div>
                <img src="./../pexels-pixabay-270348.jpg" class="profile-img">
                <div class="user-info">
                    <p class="nickname">Barney</p>
                    <p class="upload-time">1시간 전</p>
                </div>
            </div>
            <div style="clear: both;"></div>
            <div>
                <strong class="title">스마트폰을 새로 샀다. 아이폰 짱짱맨.</strong>
                <p class="main-text">새로 나온 아이폰은 엄청나게 이쁘다. 그치 이쁘지 이쁘다고 해줘. 멋있다고 해줘. 또 사준다고 해줘.</p>
            </div>
        </div>
        <div class="thumb">
            <img src="./../pexels-jess-bailey-designs-788946.jpg" class="iphone">
            <img src="plus.png" class="plus">
        </div>
    </div>
</body>
</html>