<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/responsive.css">
    <title>반응형 테스트</title>
</head>
<body>
    <div class="flex-container">
        <div class="flex-item">
            <h3>Fast Shipping</h3>
            <p>lorem ipsum</p>
        </div>
        <div class="flex-item">
            <h3>Good Service</h3>
            <p>lorem ipsum</p>
        </div>
        <div class="flex-item">
            <h3>Free Coupons</h3>
            <p>lorem ipsum</p>
        </div>
        <div class="flex-item">
            <h3>New Products</h3>
            <p>lorem ipsum</p>
        </div>
    </div>
</body>
</html>