<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/sass.css">
    <title>Document</title>
</head>
<body>
    <div></div>
    <div></div>
    <div></div>

    <div>
        <ul>
            <li class="active">Cras jsuto odio</li>
            <li>Dapibus ac facilisis in</li>
            <li>Morbi leo risus</li>
        </ul>
    </div>

    <div class="alert-box-green">
        <p>알림1</p>
    </div>
    <div class="alert-box-yello">
        <p>알림2</p>
    </div>
    <div class="alert-box-orange">
        <p>알림3</p>
    </div>

    <div class="row">
        <div class="col-6">HI</div>
        <div class="col-6">HI</div>
    </div>
    <div class="row">
        <div class="col-4">HI</div>
        <div class="col-4">HI</div>
        <div class="col-4">HI</div>
    </div>
    <div style="clear:both; float : none;"></div>
</body>
</html>