<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="card shadow">
          <img src="img/photo1.jpg" class="card-img-top">
          <div class="card-body">
            <span class="badge rounded-pill bg-primary">News</span>
            <h4 class="mt-2">Blog Post Title</h4>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
          <div class="d-flex p-3">
            <div class="flex-shrink-0">
              <img src="img/author.png" width="50px">
            </div>
            <div class="flex-grow-1 ms-3 mt-1">
              <h6 class="fw-bold mb-0">Kelly Rowan </h6>
              <p class="text-muted">March 12, 2021, 6 min read</p>
            </div>
          </div>
        </div>
        
        <div class="row">
            <div class="col-md-2 order-md-2">
              <img src="img/author.png" width="100%">
            </div>
            <div class="col-10 col-md-5 order-md-1 text-md-end">
              <p>어쩌구 저쩌구 글입니다</p>
            </div>
            <div class="col-md-5 order-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-2 order-md-2">
              <img src="img/author.png" width="100%">
            </div>
            <div class="col-10 col-md-5 order-md-3 text-md-end">
              <p>어쩌구 저쩌구 글입니다</p>
            </div>
            <div class="col-md-5 order-md-1"></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3"></div>
            <div class="col-md-6 col-lg-3"></div>
            <div class="col-md-6 col-lg-3"></div>
            <div class="col-md-6 col-lg-3"></div>
        </div>
     </div> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>