<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/sticky.css">
    <title>Document</title>
</head>
<body style="background: grey; height: 3000px;">
    <div class="grey">
        <div class="image">
            <img src="../pexels-asad-photo-maldives-1450353.jpg" style="width:100%">
        </div>
        <div style="clear: both;"></div>
        <div class="text">Meet the first Island!</div>
    </div>
</body>
</html>