<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/video_transform.css">
</head>
<body>
    <nav class="ani-navbar">
        <h4>Menu</h4>
        <p style="text-align: center;">Item</p>
    </nav>

    <video controls>
        <source src="../bridge.mp4" type="video/mp4">
    </video>

    <audio src="../bass.mp3" controls></audio>

    <button class="ani-btn">움직움직</button>


    <div class="ani-x">+</div>
</body>
</html>