body {
  margin: 0;
}
div {
  box-sizing: border-box;
}
h1 {
  font-size: 30px;
}
h4 {
  font-size: 22px;
}
.main-background {
  background-image: linear-gradient(to bottom, #499add, #4e61c0);
  height: 550px;
  padding: 20px;
  color: white;
}
.main-container {
  max-width: 1200px;
  margin: auto;
} 
.main-text {
  float: left;
  margin-top: 50px;
}
.main-iphone {
  width: 400px;
  float: right;
  margin-top: 95px;
}
.btn {
  padding: 15px 20px;
  font-size: 16px;
  font-family: 'nanumsquare';
  font-weight: 600;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn-black {
  background: #444;
  color: white;
}
.btn-black:hover {
  border: 2px solid gray;
}
.btn-black:active {
  background: black;
}
/*큰 레이아웃*/
.service {
  background-color: #4e61c0;
  width: 100%;
  color: white;
  text-align: center;
  padding: 60px 30px 50px 30px;
}
.service-items {
  display: flex;
}
.service-items div {
  width: 25%;
}

/*나머지 쓸데없는 디자인들*/
.service h5 {
  margin-bottom: 0px;
}
.service-icon {
  background: white;
  color: #4e61c0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 15px;
}
.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.portfolio-item1 {
  float: left;
  width: 50%;
  height: 350px;
  background-image: url(portfolio-1.jpg);
  background-size: cover;
}
.portfolio-container {
  text-align: left;
  max-width: 1200px;
  margin: auto;
}
.portfolio-text {
  color: white;
  padding: 50px;
  width: 100%;
} 
.white-box {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index : 2;
  border : 0px solid white;
}
.white-box:hover {
  border : 30px solid white;
}

@media screen and (max-width : 992px) {
  .main-iphone {
    width: 260px;
    display: block;
    float: none;
    margin: auto;
    margin-top: 42px;
  }
  .main-text {
    float: none;
    margin-top: 50px;
    text-align: center;
  }
  .service-items {
    display: flex;
    flex-direction: column;
  }
  .service-items div {
    width: 100%;
  }
  .portfolio-item1 {
    float: none;
    width: 100%
  }
}