.grey {
    background: lightgray;
    height: 2000px;
    margin-top: 500px;
}

.text {
    float: left;
    width: 300px
}

.image {
    float: right;
    width: 400px;
    position: sticky;
    top: 60px; /* 어디서 고정할 지 */
}